*.o
*.so
*.a
*.obj
*.com
*.cod
*.dll
*.exe
*.exp
*.lib
*.pyc
*.bak
*.BAK
*~
*.swp
*.orig
*.rej
*.map
*.RES
*.res
*.old

src/exsel1.h
src/exselc.h
src/exselcu.h
src/exselg.h
src/exselgu.h

!stub_*.exe
